#profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 25px auto;
    width: 1140px;
    font-size: 18px;
}

#profile #edit {
    position: relative;
    font-size: 17px;
    display: inline-block;
}

#profile #edit #edit-header {
    width: 150px;
}

#profile #edit #edit-list {
    position: absolute;
    display: none;
    list-style-type: none;
    padding: 0;
}

#profile #edit #edit-list li {
    text-align: right;
    margin-bottom: 10px;
}

#profile #edit #edit-list li a {
    padding: 5px 20px;
}

#profile #edit #edit-list li a:hover {
    color: #fff;
    background-color: #37b542;
}

#profile #edit:hover > #edit-list {
    display: block;
}

#profile #main-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile #main-profile #avatar {
    width: 250px;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#profile #main-profile #avatar img {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    border-radius: 50%;
}

#profile #main-profile #info {
    list-style: none;
}

#profile #main-profile #info li {
    margin-bottom: 20px;
}

#profile #main-profile #info li span {
    font-weight: 600;
}

#timeline {
    margin: 25px auto;
    width: 1140px;
    font-size: 18px;
}

#timeline h1 {
    font-size: 24px;
}

#timeline .post-fragment {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#timeline .post-fragment img {
    width: 150px;
}

#timeline .post-fragment .content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#timeline .post-fragment .content .title {
    font-size: 20px;
    font-weight: 600;
}

#timeline .post-fragment .content .summary {
    margin-top: 10px;
}

#timeline p {
    color: #d73d39;
    font-style: italic;
}