#profile, #timeline {
    position: relative;
    margin: 25px auto;
    width: 1140px;
    font-size: 18px;
}

#profile #edit {
    position: absolute;
    right: 0;
    font-size: 17px;
}

#profile ul {
    list-style: none;
    padding-left: 0;
}

#profile ul li {
    margin-bottom: 20px;
}

#profile ul li span {
    font-weight: 600;
}

#timeline h1 {
    font-size: 24px;
}

#timeline .post-fragment {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#timeline .post-fragment img {
    width: 150px;
}

#timeline .post-fragment .content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#timeline .post-fragment .content .title {
    font-size: 20px;
    font-weight: 600;
}

#timeline .post-fragment .content .summary {
    margin-top: 10px;
}

#timeline p {
    color: #d73d39;
    font-style: italic;
}