#update-form {
    margin: 25px auto;
    width: 540px;
    font-size: 18px;
}

#update-form h1 {
    font-size: 24px;
    text-align: center;
}

#update-form #avatar {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#update-form #avatar label img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0.75;
    width: 25px;
    cursor: pointer;
}

#update-form #avatar #img-preview {
    min-height: 100%;
    min-width: 100%;
    border-radius: 50%;
    width: 100%;
}

#update-form #img-upload {
    display: none;
}

#update-form input[type="text"],
#update-form input[type="password"],
#update-form input[type="email"],
#update-form input[type="tel"],
#update-form input[type="date"] {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    font-size: 16px;
    display: inherit;
    margin: 15px auto;
    padding: 10px 15px;
    width: 100%;
}

#update-form button {
    background-color: #37B542;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    display: inherit;
    margin: 15px auto;
    padding: 10px 15px;
    width: 100%;
}

#update-form button:hover {
    cursor: pointer;
}